:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Impact", sans-serif;
    --third-family: "Cormorant Garamond", sans-serif;
    --font3: "Futura", sans-serif;
    --font4: "Champagne & Limousines", sans-serif;
    --font5: "Oswald", sans-serif;
    --font6: "SF Pro Text", sans-serif;
}

body {
    background-color: #000000;
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.search {
    margin-top: 40px;
    form {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 10px;
    }
    input[type="text"] {
        font-size: 20px;
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 12px 20px;
        box-sizing: border-box;
        min-width: 100px;
    }

    input[type="submit"] {
        backdrop-filter: blur(4px);
        background: #e42652;

        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        color: #fff;

        border-radius: 12px;
        padding: 12px 20px;

        cursor: pointer;
        text-decoration: none;
        outline: none;
        border: none;
        box-sizing: border-box;
    }
}

.banner {
    margin-bottom: 107px;
}

.banner h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 112px;
    line-height: 98%;
    text-transform: uppercase;
    color: #fff;
    margin: 32px 0;
}

.banner p:first-of-type {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    margin: 32px 0;
}

.banner p:last-of-type {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.04em;
    color: #fff;
}

.banner p:last-of-type:before {
    content: "";
    background: #f2455e;
    width: 38px;
    height: 6px;
    display: block;
    margin-bottom: 32px;
}

.items {

}

.items h3 {
    color: #ff61ed;
    font-size: 48px;
}

.items__item {
    position: relative;
    height: 900px;
    border-radius: 8px;
    overflow: hidden;

    margin-bottom: 60px;
}

.items__item_bg {

}

.items__item_bg img {
    width: 100%;
    height: 900px;
    object-fit: contain;
}

.items__item_info {
    position: absolute;
    right: 40px;
    bottom: 40px;
    background: rgba(0, 0, 0, 0.6);
    width: 407px;
    border-radius: 8px;
    padding: 30px;
}

.items__item_info h3 {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 48px;
    color: #ff61ed;
    margin: 0 0 20px 0;
}

.items__item_info p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
}

.items__item_info button {
    width: 100%;

    backdrop-filter: blur(4px);
    background: #e42652;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #fff;

    border-radius: 12px;
    padding: 12px 20px;

    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}

.card {
    border: 0.50px solid rgba(0, 0, 0, 0);
    border-radius: 18px;
    padding: 8px 16px;
    max-width: 359px;
    position: relative;
}

.card img {
    display: block;
    margin: 0 auto;
    border-radius: 14px;
    max-width: 200px;
}

.card h3 {
    font-family: var(--third-family);
    font-style: italic;
    font-weight: 700;
    font-size: 46px;
    text-align: center;
    color: #e42652;
    margin: 8px 0;
}

.card p:first-of-type {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #000;
    margin: 8px 0;
}

.card p:last-of-type {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #404040;
    margin: 0;
}

.card_close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

@media (max-width: 1339px) {
    .banner {
        margin-bottom: 50px;
    }

    .banner h1 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
        margin: 20px 0;
    }

    .banner p:first-of-type {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.03em;
        color: #fff;
        margin: 20px 0;
    }

    .banner p:last-of-type {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 0.04em;
        color: #fff;
    }

    .banner p:last-of-type:before {
        content: "";
        background: #f2455e;
        width: 38px;
        height: 6px;
        display: block;
        margin-bottom: 20px;
    }

    .items {

    }

    .items__item {
        position: relative;
        height: unset;
        border-radius: unset;
        overflow: hidden;

        margin-bottom: 24px;
    }

    .items__item_bg {

    }

    .items__item_bg img {
        width: 100%;
        height: unset;
        object-fit: contain;
    }

    .items__item_info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        width: unset;
        border-radius: 8px;
        padding: 16px;
    }

    .items__item_info h3 {
        font-family: var(--font4);
        font-weight: 700;
        font-size: 48px;
        color: #ff61ed;
        margin: 0 0 16px 0;
        text-align: center;
    }

    .items__item_info p {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #fff;
        margin: 16px 0;
    }
}